<p>
  Hi, <%= @user.email %>
</p>
<% if @user.member? %>
  <p>
    You received this letter because you are a client of <%= @user.accelerator.name.capitalize() %> Accelerator.
    We are inviting you to our RAMP Client Business Planning support tool.
    As mentioned we use this tool with our clients as a Commercial/Technology/Manufacturing
    Risk Assessment and Milestone Management Planning Tool.
    The idea is to have the you first self-assess where your company is on these measures and
    then we will schedule a meeting time with you to review
    and develop milestone tasks that we both support in an effort to reduce your business
    risks on number of critical measures.
  </p>
<% elsif @user.admin? %>
  <p>
    You received this letter because you have been invited as Admin of <%= @user.accelerator.name.capitalize() %> Accelerator
    on our RAMP Client Business Planning support tool.
  </p>
<% elsif @user.startup_admin? %>
  <p>
    You received this letter because you have been invited as startup Admin of <%= @user.startup.name.capitalize() %>
    on <%= @user.accelerator.name.capitalize() %> Accelerator
    on our RAMP Client Business Planning support tool.
  </p>
<% elsif @user.super_admin? %>
  <p>
    You received this letter because you have been invited as SuperAdmin to our RAMP Client Business Planning support tool.
  </p>
<% end %>
<p>
  Please click on the link below to activate your account.
</p>
<% if !@user.super_admin? %>
  <p><a href="<%= @user.frontend_hostname %>/users/password?reset_password_token=<%= @reset_token %>">Your reset password link</a></p>
<% else %>
  <p><a href="<%= ENV['ADMIN_PANEL_HOST'] %>/users/password?reset_password_token=<%= @reset_token %>">Your reset password link</a></p>
<% end %>
