<p>Hello, <%= @resource.full_name %>!</p>

<p>Someone has requested a link to change your password on RAMP Client Business Planning support tool. You can do this through the link below.</p>
<% if !@resource.super_admin? %>
  <p><a href="<%= @resource&.frontend_hostname %>/users/password?reset_password_token=<%= @token %>">Your reset password link</a></p>
<% else %>
  <p><a href="<%= ENV['ADMIN_PANEL_HOST'] %>/users/password?reset_password_token=<%= @token %>">Your reset password link</a></p>
<% end %>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
